# Nix flakes-based dev environment (see https://github.com/nix-community/nix-direnv)
# IMPORTANT: must come before others
use flake

# Create (if doesn't exist) and use UV-managed .venv
export VIRTUAL_ENV=".venv"
uv sync
layout python
